*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -100;
}
body{
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(92, 253, 253), rgb(241, 143, 240));
}
.custom-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 100px;
    background-color: rgb(170, 242, 242);
}
.custom-form input{
    width: 80%;
    border-radius: 50px;
    background-color: rgb(216, 216, 216);
}
.custom-form span{
    background-color: rgb(238, 136, 223);
    border-radius: 20px 0px 0px 20px ;
}
.custom-form button{
    width: 100%;
    border-radius: 50px;
    background-color: rgb(97, 102, 255);
    transition: 0.3s ease;
    color: black;
    border: none;
}
.custom-form button:hover{
    background-color: rgb(176, 255, 162);
    color: black;
}